@import "tailwindcss";
@import "flowbite-vue/index.css";
@plugin "flowbite/plugin";
@source "../node_modules/flowbite-vue";
@import "primeicons/primeicons.css";

body {
  background-color: #0a0a0a;
}
